@model WebApp.Models.PrestamoAprobado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PrestamoAprobado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoAprobado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoAprobado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadCuotas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadCuotas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCuota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorCuota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoTotalFinanciero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoTotalFinanciero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoGastosContratacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoGastosContratacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoGastosMantencionMensual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoGastosMantencionMensual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoSegurosMensual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoSegurosMensual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAprobacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAprobacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDesembolso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDesembolso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPrimerVencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPrimerVencimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolicitudPrestamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolicitudPrestamo.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
