@model WebApp.Models.Requisito

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Requisito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdadMinima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdadMinima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdadMaxima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdadMaxima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoringMinimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoringMinimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadAvales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadAvales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadRecibosSueldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadRecibosSueldo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
