@model WebApp.Dtos.ClienteDto

@{
    ViewData["Title"] = "Detalle Cliente";
}

<h1>Detalle</h1>

<div>
    <h4>Cliente</h4>
    <hr />

    <div class="btn-group" role="group" aria-label="Agrupar Botones">
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Editar</a>
    </div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaIdentidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CedulaIdentidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimientoDisplay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GeneroId)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Genero
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Domicilio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NacionalidadId)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Nacionalidad
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DomicilioAlternativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DomicilioAlternativo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoLaboral)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonoLaboral)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonaPoliticamenteExpuesta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonaPoliticamenteExpuesta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoActividadId)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.TipoActividad
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicioActividad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicioActividadDisplay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinActividad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFinActividadDisplay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoLiquidoPercibido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoLiquidoPercibidoDisplay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scoring)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scoring)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivilId)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.EstadoCivil
        </dd>

        @if (Model.ConyugeCedulaIdentidad != null)
        {
            <div class="col-md-6 conyuge-form">
                <hr />
                <h4>Datos Conyuge</h4>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ConyugeCedulaIdentidad)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ConyugeCedulaIdentidad)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ConyugeNombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ConyugeNombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ConyugeApellido)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ConyugeApellido)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ConyugeFechaNacimiento)
                </dt>
                <dd class="col-sm-10">
                    @*@String.Format("{0:dd/MM/yyyy}",Model.ConyugeFechaNacimiento)*@
                    @Html.DisplayFor(model => model.ConyugeFechaNacimientoDisplay)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ConyugeGeneroId)
                </dt>
                <dd class="col-sm-10">
                    @ViewBag.ConyugeGenero
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ConyugeDomicilio)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ConyugeDomicilio)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ConyugeCorreoElectronico)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ConyugeCorreoElectronico)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ConyugeTelefono)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ConyugeTelefono)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ConyugeNacionalidadId)
                </dt>
                <dd class="col-sm-10">
                    @ViewBag.ConyugeNacionalidad
                </dd>
                <hr />
            </div>
        }
    </dl>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DatosVerificados)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DatosVerificados)
    </dd>
</div>

