@model IEnumerable<WebApp.Dtos.ClienteDto>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1>Lista de Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-success text-white" >Nuevo Cliente</a>
</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CedulaIdentidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.EstadoCivilId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Scoring)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatosVerificados)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CedulaIdentidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Scoring)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatosVerificados)
                </td>
                <td id="@item.CedulaIdentidad">
                    <div class="btn-group" role="group" aria-label="Agrupar Botones">
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Editar</a>
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Detalle</a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
