@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">

                @if (User.IsInRole("SUPERUSER"))
                {
                    <div style="color:white; background-color:green">
                        Hello @User.Identity?.Name!
                    </div>
                }
                else
                {
                    if (User.IsInRole("ADMINISTRADOR"))
                    {
                        <div style="color:white;background-color:red">
                            Hello @User.Identity?.Name!
                        </div>
                    }
                    else
                    {
                        @if (User.IsInRole("GERENTE"))
                        {
                            <div style="color:white;background-color:black">
                                Hello @User.Identity?.Name!
                            </div>
                        }
                        else
                        {
                            @if (User.IsInRole("COLABORADOR"))
                            {
                                <div style="color:white; background-color:purple">
                                    Hello @User.Identity?.Name!
                                </div>
                            }
                        }
                    }

                }
            </a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    @*<li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>*@
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
