@model WebApp.Dtos.ProductoDto

@{
    ViewData["Title"] = "Eliminar Producto Financiero";
}

<h1>Eliminar</h1>

<h3>¿Seguro que desea eliminar?</h3>
<div>
    <h4>Producto Financiero</h4>
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        <input type="submit" value="Confirmar" class="btn btn-danger" />
    </form>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicioVigencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicioVigenciaDisplay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinVigencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFinVigenciaDisplay)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aprobacion24Horas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aprobacion24Horas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SolicitudEnLinea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SolicitudEnLinea)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EdadMinima)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EdadMinima)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EdadMaxima)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EdadMaxima)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoringMinimo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoringMinimo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadAvales)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadAvales)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadRecibosSueldo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadRecibosSueldo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoMinimo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoMinimoDisplay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoMaximo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoMaximoDisplay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlazoMinimo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlazoMinimo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlazoMaximo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlazoMaximo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TasaNominal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TasaNominalPercent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TasaGastosAdministrativos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TasaGastosAdministrativosPercent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TasaGastosCobranza)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TasaGastosCobranzaPercent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TasaSeguros)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TasaSegurosPercent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TasaInteresMora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TasaInteresMoraPercent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EsPrepagable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EsPrepagable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TasaCastigoPrepago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TasaCastigoPrepagoPercent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TasaCoberturaAval)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TasaCoberturaAvalPercent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TasaCoberturaConyuge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TasaCoberturaConyugePercent)
        </dd>

    </dl>

</div>
