@model IEnumerable<WebApp.Models.Producto>

@{
    ViewData["Title"] = "Lista de Productos Financieros";
}

<h1>Lista de Productos Financieros</h1>

<p>
    <a asp-action="Create" class="btn btn-success text-white" >Nuevo Producto</a>
</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicioVigencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinVigencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficios.SolicitudEnLinea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requisitos.ScoringMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Terminos.TasaNominal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicioVigencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFinVigencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beneficios.SolicitudEnLinea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requisitos.ScoringMinimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Terminos.TasaNominal)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Agrupar Botones">
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Editar</a>                         
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Detalle</a>                         
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
