@model IEnumerable<WebApp.Models.Pago>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuota.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPago.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.CedulaIdentidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
